---
esd_id: 2993
title: "Consumer rights enforcement - notice of testing results"
---

A local authority must inform the relevant person of the result of testing in certain circumstance. 

