---
title: "Consumer rights enforcement - notice of testing results"
esd_id: 2993
type: duty
parent_id:  
---

A local authority must inform the relevant person of the result of testing in certain circumstance. 

