---
esd_id: 1643
title: "Trading standards - notification of test results"
---

An officer authorised by a local authority must notify the owner of goods of the results of certain tests.

