---
title: "Trading standards - notification of test results"
esd_id: 1643
type: duty
parent_id:  
---

An officer authorised by a local authority must notify the owner of goods of the results of certain tests.

